In [ ]:
import pandas as pd
from bjtu_programming.search_rs import DATA_DIR

In [30]:
train_df = pd.read_csv(DATA_DIR.joinpath("train_info_100000.txt"),
                       sep='\t',
                       header=None)
train_df.columns =[
    "user_id", "item_id", "ctx_time_expose", "ctx_net_env", "u_cnt_flush",
    "ctx_show_pos", "is_click", "cnt_read_duration"
]
print(train_df.shape)
train_df.head(1000)

(100000, 8)

,user_id,item_id,ctx_time_expose,ctx_net_env,u_cnt_flush,ctx_show_pos,is_click,cnt_read_duration
0,1000014754,463510256,1624843756147,5,0,16,0,0
1,1000014754,463852707,1624843756147,5,0,13,1,80
2,1000014754,463067100,1624757147178,5,0,13,0,0
3,1000014754,463625484,1624762446340,5,0,12,1,268
4,1000014754,463625484,1624762446340,5,0,12,1,57
...,...,...,...,...,...,...,...,...
995,1000382512,463136369,1624701052511,2,0,14,1,236
996,1000382512,463323934,1624701052511,2,0,16,0,0
997,1000382512,462700846,1624591164565,5,1,19,1,138
998,1000382512,461910051,1624592024746,5,2,31,0,0
999,1000382512,462755551,1624592024746,5,2,32,1,24

In [29]:
test_df = pd.read_csv(DATA_DIR.joinpath("test_info.txt"),
                      sep='\t',
                      header=None)
test_df.columns =[
    "order", "user_id", "item_id", "ctx_time_expose", "ctx_net_env", "u_cnt_flush"
]
print(test_df.shape)
test_df.head(1000)

(50000, 6)

     order     user_id    item_id  ctx_time_expose  ctx_net_env  u_cnt_flush
0        0  2204868548  464495940    1625011774995            2            4
1        1  1623790870  464553715    1625066054894            2            2
2        2  1637010070  464687570    1625053546711            2           10
3        3  1634251474  464661865    1625047014335            2           10
4        4  2352721164  464692079    1625035383911            2           11
..     ...         ...        ...              ...          ...          ...
995    995  2446387898  464403926    1625009385350            5           12
996    996  2381830862  464607987    1625035224058            2            2
997    997  2396420110  464810321    1625061165943            2            9
998    998  2413340866  464638532    1625033075201            5           14
999    999  2275194816  464644966    1625037697467            2            0

[1000 rows x 6 columns]

In [28]:
user_df = pd.read_csv(DATA_DIR.joinpath("user_info.txt"),
                      sep='\t',
                      header=None)
user_df.columns =[
    "user_id", "u_device", "u_os", "u_province", "u_city", "u_age_prob", "u_sex_prob"
]
print(user_df.shape)
user_df.head(1000)

(1029718, 7)

,user_id,ctx_device,ctx_os,ctx_province,ctx_city,u_age_prob,u_sex_prob
0,17340,iPhoneX,IOS,上海,上海,"A_0_24:0.029774,A_25_29:0.126834,A_30_39:0.789...","female:0.000000,male:1.000000"
1,394666,ARS-TL00,Android,吉林,白山,"A_0_24:0.400583,A_25_29:0.261192,A_30_39:0.268...","female:0.000000,male:1.000000"
2,413322,iPhoneXS,IOS,北京,北京,"A_0_24:0.000076,A_25_29:0.017034,A_30_39:0.972...","female:0.191682,male:0.808318"
3,450280,NOH-AN00,Android,湖北,武汉,"A_0_24:0.943772,A_25_29:0.043366,A_30_39:0.011...","female:0.198083,male:0.801917"
4,456646,M2102J2SC,Android,广东,中山,"A_0_24:0.024724,A_25_29:0.230098,A_30_39:0.409...","female:0.335419,male:0.664581"
...,...,...,...,...,...,...,...
995,23199678,M2012K11AC,Android,山东,聊城,"A_0_24:0.049074,A_25_29:0.629261,A_30_39:0.302...","female:0.000000,male:1.000000"
996,23224752,BMH-AN10,Android,吉林,吉林,"A_0_24:0.008884,A_25_29:0.682589,A_30_39:0.307...","female:0.000000,male:1.000000"
997,23237820,Mi10,Android,北京,北京,"A_0_24:0.000010,A_25_29:0.000324,A_30_39:0.055...","female:0.000000,male:1.000000"
998,23262374,MI9TransparentEdition,Android,NaN,NaN,"A_0_24:0.385883,A_25_29:0.315351,A_30_39:0.242...","female:0.000000,male:1.000000"
999,23308754,TEL-AN00a,Android,天津,天津,"A_0_24:0.217336,A_25_29:0.732691,A_30_39:0.049...","female:0.000000,male:1.000000"

In [31]:
item_df = pd.read_csv(DATA_DIR.joinpath("news_info.txt"),
                      sep='\t',
                      header=None)
item_df.columns =[
    "item_id", "i_title", "i_time_release", "i_cnt_img", "i_category1", "i_category2", "i_keys_prob"
]
print(item_df.shape)
item_df.head(1000)

(347466, 7)

,item_id,i_title,i_time_release,i_cnt_img,i_category1,i_category2,i_keys_prob
0,325279629,合集|外交部每日答问,1.624890e+12,0.0,NaN,NaN,NaN
1,334493096,汽车点评网友“毛蒙”分享的小视频“,1.563405e+12,0.0,汽车,汽车/其他,https:8.135272
2,341014580,"抖音爆红车模小姐姐,可爱如神仙,如今大火的她还玩起这个!",1.567068e+12,3.0,娱乐,娱乐/其他,"初恋:11.052198,吊坠:9.525825,吊坠^^耳环:7.982950,妆容:10..."
3,344297472,"一夜能挣30万的网红车模,她的捞金神器竟是这个!",1.569240e+12,3.0,娱乐,娱乐/其他,"主播:10.299306,发展:7.355088,可爱:8.705284,清纯:10.108..."
4,347286095,"男子购买假号牌被查,后备箱找到真车牌,车主直言不愿太高调",1.571271e+12,3.0,汽车,汽车/用车,"买车:9.357286,交警:8.964902,交通:7.790495,交通^^秩序:10...."
...,...,...,...,...,...,...,...
995,461750018,越野车内竟然藏了个600升大油罐苏州交通执法查获“流动炸弹”,1.624321e+12,3.0,案件,案件/法治案件,"中石化:10.730155,公安:8.260727,加油车:16.895083,协查通报:1..."
996,461750027,"也许他才是神雕中剑法最高的人,实力超杨过却非独孤求败!",1.624321e+12,4.0,文化艺术,文化艺术/读书,"一灯大师:16.885216,九阴真经:11.781893,人才:7.700833,佩剑:8..."
997,461750057,"“雷车”也降价,品牌价值不足,那就只能靠价格弥补",1.624321e+12,9.0,汽车,汽车/汽车资讯,"bba:10.433508,ls:15.310630,东方人:8.539490,中网:6.1..."
998,461750099,"1分2失误3大数据垫底!男篮第一天才进nba难了,投三不沾暴露软肋",1.624321e+12,6.0,体育,体育/中国篮球,"cba:8.526146,nba^^球探:12.847561,三分球:10.587807,三..."
999,461750113,"6月26~29日事业有成,运势上升,付出没有白费的生肖",1.624319e+12,3.0,星座运势,星座运势/风水与算命,"上火:10.105922,健康:7.675954,吉星:9.438192,喉咙:7.6419..."